<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{subject}}</title>
    </head>
    <body>
        <div>
            <span style="font-weight: bold;color: red;">Message: </span>
            <span>{{message}}</span>
        </div>
    </body>
</html>

