<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>stable api - account deletion</title>
    </head>
    <body>
        <h1>Account deletion confirmation</h1>
        <p>Sorry to see you go !</p>
    </body>
</html>