<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>stable api - registration</title>
    </head>
    <body>
        <h1>Email confirmation</h1>
        <p>Thank you for subscribing. Please confirm your email by clicking on the following link</p>
        <p>
            By confirming your account you agree with our rgpd which are available at
            <a href="{{ rgpdLink }}">this address</a>
        </p>
        <p><a href="{{ authenticationConfirmLink }}">Confirm my email</a></p>
    </body>
</html>