<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>stable api - email address update</title>
    </head>
    <body>
        <h1>Email update</h1>
        <p>Plz confirm your new email address</p>
        <p>
            By confirming your account you agree with our rgpd which are available at
            <a href="{{ rgpdLink }}">this address</a>
        </p>
        <p><a href="{{ authenticationConfirmLink }}">Confirm my email</a></p>
    </body>
</html>